---
layout: default 
title: Programação
javascript_imports: jquery.fancybox-1.3.1.pack guests
---
%h1 Programação Científica

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan='4') 22/04 QUINTA-FEIRA
  %tr#tabela-linhas
    %td.col-a Horários
    %td.col-a(colspan='3') Secretaria do Evento
  %tr#tabela-linhas
    %td.col-a 07:30
    %td(colspan='3')
      %p Credenciamento e entrega do material
  %tr#tabela-linhas
    %td.col-a(colspan=4) Manhã
  %tr#tabela-linhas
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório principal
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório Fernando Paiva
  %tr#tabela-linhas
    %td.col-a Mini-Curso 1 - Pediátrica
    %td.col-a Mini-Curso 2 - Medicina desportiva
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.half
      %p
        As deformidades são todas iguais?
        %br
        %strong Professor:
        Dr. Chang Chia Po (AM)
    %td.col-a 08:00
    %td.half
      %p
        Lesão do bíceps distal no atleta
        %br
        %strong Professor:
        Dr. Adson Sá (CE)
  %tr#tabela-linhas
    %td.col-a 08:20
    %td.half
      %p
        Dismetrias
        %br
        %strong Professor:
        Dr. João Amaury (PA) 
    %td.col-a 08:15
    %td.half
      %p
        Lesão do aparelho extensor em atletas.
        %br
        %strong Professor:
        Dr. João Ladislau (RN)
  %tr#tabela-linhas
    %td.col-a 08:40
    %td.half
      %p
        A utilização dos fixadores externos
        %br
        %strong Professor:
        Dr. Marcelo Mercadante (SP)
    %td.col-a 08:30
    %td.half
      %p
        Lesão Muscular: Como eu trato?
        %br
        %strong Professor:
        Dr. Jomar Souza (BA)
  %tr#tabela-linhas
    %td.col-a 09:00
    %td.half
      %p
        Osteotomias
        %br
        %strong Professor:
        Dr. Epitácio Leite (PE)
    %td.col-a 08:45
    %td.half
      %p
        Lesões do quadril do atleta
        %br
        %strong Professor:
        Dr. Raul Carneiro Lins (PE)
  %tr#tabela-linhas
    %td.col-a 09:20
    %td.half
      %p
        Epifisiodeses definitivas
        %br
        %strong Professor:
        Dr. Nelson Marquezini (AC)
    %td.col-a 09:00
    %td.half
      %p
        Pubalgia
        %br
        %strong Professor:
        Dr. Edilson Thiele (PR)
  %tr#tabela-linhas
    %td.col-a(rowspan=3) 09:40
    %td.half(rowspan=3)
      %p
        Parafusos transfisários.
        %br
        %strong Professor:
        Dr. Claudio Santili (SP)
    %td.col-a 09:15
    %td.half
      %p
        Reconstrução do LCA por navegação
        %br
        %strong Professor:
        Dr. Anderson Costa (RJ)
  %tr#tabela-linhas
    %td.col-a 09:30
    %td.half
      %p
        Fratura por estresse
        %br
        %strong Professor:
        Dr. Marcelo Rêgo (RN)
  %tr#tabela-linhas
    %td.col-a 09:45
    %td.half
      %p Discussão
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a.left(colspan=3) Intervalo
  %tr#tabela-linhas
    %td.col-a 10:20
    %td.half
      %p
        Epifisiodeses com utilização com placa
        %br
        %strong Professora:
        Dra. Tábata Alcântara (RN)
    %td.col-a 10:15
    %td.half
      %p
        Duplo túnel na reconstrução do LCA. Verdade absoluta?
        %br
        %strong Professor:
        Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 10:40
    %td.half
      %p
        O que dizem as evidências
        %br
        %strong Professora:
        Dra. Waldirene Rivas (RO)
    %td.col-a 10:30
    %td.half
      %p
        Reconstrução do LCA em atleta esqueleticamente imaturo
        %br
        %strong Professor:
        Dr. Sérgio Canuto (AL)
  %tr#tabela-linhas
    %td.col-a(rowspan=5) 11:00
    %td.half(rowspan=5)
      %p
        Discussão de casos clínicos
        %br
        %strong Moderador:
        Dra. Tábata Alcântara (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Chang Chia Po (AM) 
        %br
        %span Dr. João Amaury (PA)
        %br
        %span Dra. Waldirene Rivas (RO)
        %br
        %span Dr. Epitácio Leite (PE)
        %br
        %span Dr. Nelson Marquezini (AC)
        %br
        %span Dr. Marcelo Mercadante (SP) 
        %br
        %span Dr. Claudio Santili (SP)
    %td.col-a 10:45
    %td.half
      %p
        Existe prevenção da lesão do LCA no atleta?
        %br
        %strong Professor:
        Dr. José Luís Runco (RJ)
  %tr#tabela-linhas
    %td.col-a 11:00
    %td.half
      %p
        Tratamento das lesões condrais no atleta
        %br
        %strong Professor:
        Dr. Valmar Martins (RN)
  %tr#tabela-linhas
    %td.col-a 11:15
    %td.half
      %p
        Cotovelo do tenista
        %br
        %strong Professor:
        Dr. Marcelo Krause (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.half
      %p
        Luxação traumática da patela
        %br
        %strong Professor:
        Dr. Elson Miranda (RN)
  %tr#tabela-linhas
    %td.col-a 11:45
    %td.half
      %p Discussão
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a.left(colspan=3) Almoço
  %tr#tabela-linhas
    %td.col-a(colspan='4') Tarde
  %tr#tabela-linhas
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório principal
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório Fernando Paiva
  %tr#tabela-linhas
    %td.col-a Mini-Curso 3 - Trauma Ortopédico
    %td.col-a Mini-Curso 4 - Artroplastia
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.half
      %p
        Resposta Inflamatória Ao Trauma: Porque Fazer Controle De Danos No Trauma Ortopédico
        %br
        %strong Professor:
        Dr. Armando Teixeira (BA)
    %td.col-a 14:00
    %td.half
      %p
        Prótese reversa de ombro
        %br
        %strong Professor:
        Dr. Geraldo Motta (RJ)
  %tr#tabela-linhas
    %td.col-a 14:20
    %td.half
      %p
        Fraturas ocasionadas por projétil de arma de fogo: existe necessidade de tratamento diferenciado?
        %br
        %strong Professor:
        Dr. Paulo Barbosa (RJ)
    %td.col-a 14:20
    %td.half
      %p
        Prótese de recapeamento do ombro
        %br
        %strong Professor:
        Dr. Adalberto Visco (BA)
  %tr#tabela-linhas
    %td.col-a 14:40
    %td.half
      %p
        Fraturas do anel pélvico: tratamento das lesões agudas
        %br
        %strong Professor:
        Dr. Antônio Marcos Ferracini (BA)
    %td.col-a 14:40
    %td.half
      %p
        Planejamento pré-operatório na A.T.Q.
        %br
        %strong Professor:
        Dr. Ronaldo Silva (CE)
  %tr#tabela-linhas
    %td.col-a 15:00
    %td.half
      %p
        Fraturas dos maléolos do tornozelo: ao que atentar?
        %br
        %strong Professor:
        Dr. Marcelo Mercadante (SP)
    %td.col-a 15:00
    %td.half
      %p
        A.T.Q. Em casos especiais.
        %br
        %strong Professor:
        Dr. Sérgio Delmonte (RJ)
  %tr#tabela-linhas
    %td.col-a 15:20
    %td.half
      %p
        Fraturas do umero proximal: da osteossintese à artroplastia
        %br
        %strong Professor:
        Dr. Geraldo Motta (RJ)
    %td.col-a(rowspan='2') 15:30
    %td.half(rowspan='2')
      %p
        A.T.Q. O que há de novo?
        %br
        %strong Professor:
        Dr. Edimilson Takata (SP)
  %tr#tabela-linhas
    %td.col-a 15:40
    %td.half
      %p Perguntas e discussões

  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a.left(colspan=3) Intervalo
  %tr#tabela-linhas
    %td.col-a 16:20
    %td.half
      %p
        Osteossintese interna definitiva nas fraturas expostas: quando fazer?
        %br
        %strong Professor:
        Dr. Wilson Vasconcelos Neves Filho (BA)
    %td.col-a 16:20
    %td.half
      %p
        Prótese unicompartimental.
        %br
        %strong Professor:
        Dr. Dilamar M. Pinto (PE)
  %tr#tabela-linhas
    %td.col-a 16:40
    %td.half
      %p
        Conversão de fixadores para osteossinteses internas: Quando fazer?
        %br
        %strong Professor:
        Dr. Marcelo Mercadante (SP)
    %td.col-a 16:50
    %td.half
      %p
        Artroplastia de revisão com perda óssea
        %br
        %strong Professor:
        Dr. Hugo Cobra (RJ)
  %tr#tabela-linhas
    %td.col-a 17:00
    %td.half
      %p
        Haste intramedulares  fresar ou  não fresar: o que muda?
        %br
        %strong Professor:
        Dr. Paulo Barbosa (RJ)
    %td.col-a 17:20
    %td.half
      %p
        Artroplastia navegada de joelho
        %br
        %strong Professor:
        Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 17:20
    %td.half
      %p
        Existe espaço para placas no tratamento das fraturas diafisarias dos membros inferiores
        %br
        %strong Professor:
        Dr. Marcelo Mercadante (SP)
    %td.col-a 17:50
    %td.half
      %p
        A.T.J infectada. "Como eu trato"
        %br
        %strong Professor:
        Dr. José Luiz Perez (PE)
  %tr#tabela-linhas
    %td.col-a 17:40
    %td.half
      %p
        Complicações com o uso das hastes intramedulares
        %br
        %strong Professor:
        Dr. Matheus Lemos Azi (BA)
    %td.col-a(rowspan=2) 18:20
    %td.half(rowspan=2)
      %p Perguntas e discussões
  %tr#tabela-linhas
    %td.col-a 18:00
    %td.half
      %p Perguntas e discussões
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a.left(colspan=3) Encerramento das atividades do dia
  %tr#tabela-linhas
    %td.col-a(colspan='4') Noite
  %tr#tabela-linhas
    %td.col-a Horários
    %td.col-a.left(colspan=3) Auditório pricipal
  %tr#tabela-linhas
    %td.col-a 19:30
    %td.half(colspan='3')
      %p Solenidade de abertura
  %tr#tabela-linhas
    %td.col-a 20:30
    %td.half(colspan='3')
      %p
        Conferência de abertura: Novo código de ética médica.
        %br
        %strong Conferencista:
        Dr. Desiré Carlos Callegari (DF)
  %tr#tabela-linhas
    %td.col-a 21:30
    %td.half(colspan='3')
      %p Coquetel de abertura

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan='2') 23/04 SEXTA-FEIRA
  %tr#tabela-linhas
    %td.col-a(colspan='2')  Auditório Principal
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.all
      %p
        Conferência I: Gonartrose no Adulto Jovem: Opções de tratamento.
        %br
        %strong Conferencista:
        Dr. Hugo Cobra (RJ)
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.all
      %p
        Conferência II: Aspectos Atuais na Reconstrução do Canto Póstero-Lateral do Joelho.
        %br
        %strong Conferencista:
        Dr. Alexandre Arraes (PE)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.all
      %p
        Mesa Redonda Moderna I: Lesão ligamentar do joelho e femoro patelar.
        %br
        %strong Moderador:
        Dr. Romeu Krause (PE)
        %br
        %strong Secretário:
        Dr. Luiz Fernando Jordão (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. José Wilson (RO)
        %br
        %span Dr. José Luiz Perez (PE)
        %br
        %span Dr. Daniel Caldas (RN)
        %br 
        %span Dr. Alexandre Arraes (PE)
        %br 
        %span Dr. Michel Freire (RN)
        
  %tr#tabela-linhas
    %td.col-a 09:15
    %td.all
      %p
        Mesa Redonda Moderna II: Artroplastia do joelho
        %br
        %strong Moderador:
        Dr. Hugo Cobra (RJ)
        %br
        %strong Secretário:
        Dr. Luiz Fernando Jordão (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Anderson Costa (RJ)
        %br 
        %span Dr. Giovannini Cesar (PB)
        %br 
        %span Dr. Dilamar M. Pinto (PE)
        %br 
        %span Dr. Alan P. Mozella (RJ)
        %br 
        %span Dr. Valmar Martins (RN)
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a.left(colspan=2) Intervalo
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.all
      %p
        Conferência III: Lombalgias: Diagnóstico e abordagem ambulatorial
        %br
        %strong Conferencista:
        Dr. Willian Teixeira (SP)
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.all
      %p
        Conferência IV: Traumatismos da Coluna Vertebral: Abordagem Inicial
        %br
        %strong Conferencista:
        Dr. Douglas Narazaki (SP)
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.all
      %p
        Mesa Redonda Moderna III: Escoliose
        %br
        %strong Moderador:
        Dr. Fernando Façanha (CE)
        %br
        %strong Secretário:
        Dr. Anibal Correia (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Douglas Narazaki (SP)
        %br
        %span Dr. Reginaldo Abdala (TO)
        %br
        %span Dr. Leonardo Correia (RN)
        %br
        %span Dr. Thiago Fernandes (PB)
        %br
        %span Dr. Marcos André (PE)
        %br
        %span Dr. Guilherme Colares (CE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.all
      %p
        Mesa Redonda Moderna IV: Hérnias discais e Estenoses degenerativas
        %br
        %strong Moderador:
        Dr. Leonardo Correia (RN)
        %br
        %strong Secretário:
        Dr. Anibal Correia (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Willian Teixeira (SP)
        %br
        %span Dr. José Lins (BA)
        %br
        %span Dr. André Flávio (PE)
        %br
        %span Dr. Fernando Façanha (CE)
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a.left(colspan=3) Almoço
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.all
      %p Conferência V: Atendimento Inicial à mão traumatizada e reimplantes
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.all
      %p Conferência VI: Aplicação da ressonância magnética nas doenças do punho e da mão
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.all
      %p
        Mesa Redonda Moderna V: Traumatismos da mão
        %br
        %strong Moderador:
        Dr. Márcio D'Angelo
        %br
        %strong Secretário:
        Dr. Hélio Rubens (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Paulo Randal Pires (MG)
        %br
        %span Dr. Ivan Chakkour (SP)
        %br
        %span Dr. Enilton Matoa (BA)
        %br
        %span Dr. Antônio Lacerda (PB)
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.all
      %p
        Mesa Redonda Moderna VI: Patologias não-traumáticas da mão
        %br
        %strong Moderador:
        Dr. Hélio Rubens (RN)
        %br
        %strong Secretário: 
        Dr. Márcio D'Angelo
        %br
        %strong Debatedores:
        %br
        %span Dr. Paulo Randal Pires (MG)
        %br
        %span Dr. Ivan Chakkour (SP)
        %br
        %span Dr. Walter Pinheiro (SE)
        %br
        %span Dr. Sacha (PB)
        %br
        %span Dr. Marcelo Crisanto (PE)
  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a.left(colspan=2) Intervalo
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.all
      %p
        Conferência VII: Placas bloqueadas:  indicações e cuidados
        %br
        %strong Conferencista:
        Dr. Armando Teixeira (BA)
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.all
      %p
        Conferência VIII: Uso de placas volares bloqueadas nas fraturas do terço distal do radio: Quando indicar?
        %br
        %strong Conferencista:
        Dr. Paulo Randal Pires (MG)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.all
      %p
        Conferência IX: Conversão de fixadores externos para osteossinteses internas: Quando fazer?
        %br
        %strong Conferencista:
        Dr. Marcelo Mercadante (SP)
  %tr#tabela-linhas
    %td.col-a 17:00
    %td.all
      %p
        Mesa Redonda Moderna VII: Trauma de membros inferiores
        %br
        %strong Moderador:
        Dr. Marcelo Mercadante (SP)
        %br
        %strong Secretário:
        Dr. Ricardo Araújo (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Armando Teixeira (BA)
        %br
        %span Dr. Humberto Lima (BA)
        %br 
        %span Dr. Kleidson Bastos (RN)
        %br
        %span Dr. Antônio Augusto Sobrinho (RN)
  %tr#tabela-linhas
    %td.col-a 17:45
    %td.all   
      %p
        Conferência X: Terapia de ondas por choque
        %br
        %strong Conferencistas:
        %br
        %span Dr. José Eid (SP)
        %br
        %span Dr. Elson Miranda (RN)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a.left(colspan=3) Encerramento das atividades do dia

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan='2') 24/04 SÁBADO
  %tr#tabela-linhas
    %td.col-a(colspan=2) Manhã
  %tr#tabela-linhas
    %td.col-a HORÁRIOS
    %td.col-a.left Auditório principal
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.all
      %p
        Conferência XI: Luxação recidivante do ombro no atleta.
        %br
        %strong Conferencista:
        Dr. Rinaldo Lucena (PE)
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.all
      %p
        Conferência XII: Luxações inveteradas do ombro: Como abordar?
        %br
        %strong Conferencista:
        Dr. Saulo Monteiro (PE)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.all
      %p
        Mesa Redonda Moderna VIII: Trauma do Ombro
        %br
        %strong Moderador:
        Dr. Geraldo Motta (RJ)
        %br
        %strong Secretário:
        Dr. José Epitácio Correia (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Saulo Monteiro (PE)
        %br
        %span Dr. Adalberto Visco (BA)
        %br 
        %span Dr. Marcelo Rêgo (RN)
        %br
        %span Dr. Rinaldo Lucena (PE)
        %br
        %span Dr. Adson Sá (CE)

  %tr#tabela-linhas
    %td.col-a 09:15
    %td.all
      %p
        Mesa Redonda  Moderna  IX: Artroscopia do Ombro
        %br
        %strong Moderador:
        Dr. Adalberto Visco (BA)
        %br
        %strong Secretário:
        Dr. Marcelo Rêgo (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Marcelo Krause (PE)
        %br
        %span Dr. José Epitácio Moreira (RN)
        %br
        %span Dr. Rinaldo Lucena (PE)
        %br
        %span Dr. Adriano Leite (PB)
        %br
        %span Dr. Adson Sá (CE)
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a.left(colspan=3) Intervalo        
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.all
      %p
        Conferência XIII: Uso do PRP na traumatologia desportiva.
        %br
        %strong Conferencista:
        Dr. José Luís Runco (RJ)
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.all
      %p
        Conferência XIV: Aspectos atuais na reconstrução do LCA
        %br
        %strong Conferencista:
        Dr. Edilson Thiele (PR)
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.all
      %p
        Mesa Redonda Moderna X: Lesões do joelho
        %br
        %strong Moderador:
        Dr. Sérgio Canuto (AL)
        %br
        %strong Secretário:
        Dr. Fábio F. Romualdo de Oliveira (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Elson Miranda (RN)
        %br
        %span Dr. João Ladislau (RN)
        %br
        %span Dr. Hireno Guará (MA)
        %br
        %span Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.all
      %p
        Mesa Redonda Moderna XI: Lesões diversas do atleta.
        %br
        %strong Moderador: 
        Dr. Edilson Thiele (PR)
        %br
        %strong Secretário:
        Dr. Fábio F. Romualdo de Oliveira (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. José Luís Runco (RJ)
        %br
        %span Dr. Sérgio Canuto (AL)
        %br
        %span Dr. Jomar Souza (BA)
        %br
        %span Dr. Henrique Bastos (CE)
        %br
        %span Dr. Marcelo Rêgo (RN)

  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a.left(colspan=3) Almoço
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.all
      %p
        Conferência XV: Artroplastia total do quadril infectada: como eu trato?
        %br
        %strong Conferencista:
        Dr. Sérgio Delmonte (RJ)
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.all
      %p
        Conferência XVI: Artroplastia total de revisão do quadril: Defeitos acetabulares e femorais
        %br
        %strong Conferencista:
        Dr. Edimilson Takata (SP)
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.all
      %p
        Mesa Redonda Moderna XII: Trauma do quadril e pelve.
        %br
        %strong Moderador:
        Dr. Edimilson Takata (SP)
        %br
        %strong Secretário:
        Dr. Hermann Gomes (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Ronaldo Silva (CE)
        %br
        %span Dr. Djalma Carlos (RN)
        %br
        %span Dr. Raul Carneiro Lins (PE)
        %br
        %span Dr. Antônio Marcos Ferracini (BA)
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.all
      %p
        Mesa Redonda Moderna XIII: Artroplastias primárias e revisão.
        %br
        %strong Moderador:
        Dr. Sérgio Delmonte (RJ)
        %br
        %strong Secretário: 
        Dr. Hermann Gomes (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Guilhermo Tierno (BA)
        %br
        %span Dr. Adriano Correia (RN)
        %br
        %span Dr. Francisco Robson Alves (CE)
        %br
        %span Dr. Edgar Toledo (TO)
  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a.left(colspan=3) Intervalo
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.all
      %p
        Conferência XVII: Epifisiólise
        %br
        %strong Conferencista:
        Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.all
      %p
        Conferência XVIII: Fraturas diafisárias do fêmur
        %br
        %strong Conferencista:
        Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.all
      %p
        Mesa Redonda Moderna XIV: Trauma pediátrico
        %br
        %strong Moderador:
        Dra. Kalyana Eduarda Fernandes (RN)
        %br
        %strong Secretário:
        Dr. Antônio Augusto Sobrinho (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Chang Chia Po (AM)
        %br
        %span Dr. João Amaury (PA)
        %br
        %span Dra. Waldirene Rivas (RO)
        %br
        %span Dr. Rogério Nobre (RN)
        %br
        %span Dr. Epitácio Leite (PE)
  %tr#tabela-linhas
    %td.col-a 17:30
    %td.all
      %p
        Conferência XIX: Defesa profissional
        %br
        %strong Conferencista:
        Dr. Robson Azevedo Paixão (SP)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a.left(colspan=3) Encerramento das atividades do evento

%h3{ :id => "convidados"}
  %u Convidados Confirmados
%h4{ :id => "regiao1" } Regiões Sul e Sudeste
%p
  %ul#guest_list
    = guest_detail('Dr. Alan P. Mozella', 'mozella', 'RJ', [])
    = guest_detail('Dr. Anderson Antônio da Costa', 'anderson', 'RJ', ['Membro da SBOT', 'Membro da SBCJ', 'Responsável pelo serviço de cirurgia do joelho do Hospital Naval Marcilio Dias'])
    = guest_detail('Dr. Claudio Santili', 'claudio', 'SP', [])
    = guest_detail('Dr. Desiré Carlos Callegari', 'callegari', 'DF', [])
    = guest_detail('Dr. Douglas Narazaki', 'narazaki', 'SP', [])
    = guest_detail('Dr. Edilson Thiele', 'edilson', 'PR', [])
    = guest_detail('Dr. Edimilson Takata', 'edimilson', 'SP', [])
    = guest_detail('Dr. Geraldo Motta', 'geraldo', 'RJ', [])
    = guest_detail('Dr. Hugo Cobra', 'hcobra', 'RJ', [])
    = guest_detail('Dr. Ivan Chakkour', 'ivan', 'SP', [])
    = guest_detail('Dr. José Eid', 'eid', 'SP', [])
    = guest_detail('Dr. José Luís Runco', 'runco', 'RJ', [])
    = guest_detail('Dr. Marcelo Mercadante', 'mercadante', 'SP', ['STAFF do serviço de ortopedia do Hospital Universitário Clementino Fraga Filho (UFRJ)', 'Professor Adjunto do Depto Ortopedia e Traumatologia da Faculdade de Ciências Médicas da Santa Casa de São Paulo', 'Médico Chefe de Clínica Adjunto do Departamento de Ortopedia e Traumatologia da Santa Casa de São Paulo'])
    = guest_detail('Dr. Paulo José Suarez Barbosa', 'pbarbosa', 'RJ', [])
    = guest_detail('Dr. Paulo Randal Pires', 'randal', 'MG', [])
    = guest_detail('Dr. Paulo Roberto Barbosa de Toledo Lourenço', 'plourenco', 'RJ', [])
    = guest_detail("Dr. Robson Azevedo Paixão", 'rpaixao', 'SP', [])
    = guest_detail('Dr. Sérgio Delmonte', 'delmonte', 'RJ', [])
    = guest_detail('Dr. Willian Teixeira', 'wteixeira', 'SP', [])
%h4{ :id => "regiao2" } Regiões Norte e Norteste
%p
  %ul#guest_list
    = guest_detail('Dr. Adalberto Visco', 'adalberto', 'BA', [])
    = guest_detail('Dr. Adriano Correia', 'acorreia', 'RN', [])
    = guest_detail('Dr. Adriano Leite', 'aleite', 'PB', [])
    = guest_detail('Dr. Adson Sá', 'adson', 'CE', [])
    = guest_detail('Dr. Alexandre Arraes', 'arraes', 'PE', [])
    = guest_detail('Dr. Alexandre Braz Camargo', 'abraz', 'RN', [])
    = guest_detail('Dr. André Flávio', 'andref', 'PE', [])
    = guest_detail('Dr. Anibal Correia', 'anibalc', 'RN', [])
    = guest_detail('Dr. Antônio Augusto Sobrinho', 'asobrinho', 'RN', [])
    = guest_detail('Dr. Antônio Lacerda', 'alacerda', 'PA', [])
    = guest_detail('Dr. Antônio Marcos Ferracini', 'antonio', 'BA', ['Mestre em Ortopedia pela UNIFESP', 'Professor Assistente da Universidade Federal da Bahia', 'Chefe do Serviço de Ortopedia do Hospital São Rafaell – Salvador/Bahia'])
    = guest_detail('Dr. Armando Teixeira', 'armando', 'BA', [])
    = guest_detail('Dr. Chang Chia Po', 'chang', 'AM', ['Atual chefe do serviço da Fundação Hospital Adriano Jorge - AM', 'Diretor presidente da Fundação Hospital Adriano Jorge - AM', 'Fundador da Sociedade Brasileira de Ortopedia Pediátrica', 'Ex-chefe do Hospital Universitário Getulio Vargas - AM'])
    = guest_detail('Dr. Daniel Caldas', 'dcaldas', 'RN', [])
    = guest_detail('Dr. Dilamar M. Pinto', 'dilamar', 'PE', [])
    = guest_detail('Dr. Djalma Carlos', 'dcarlos', 'RN', [])
    = guest_detail('Dr. Edgar Toledo', 'etoledo', 'TO', [])
    = guest_detail('Dr. Elson Miranda', 'elson', 'RN', [])
    = guest_detail('Dr. Enilton Matoa', 'enilton', 'BA', [])
    = guest_detail('Dr. Epitácio Leite Rolim Filho', 'epitacio', 'PE', [])
    = guest_detail('Dr. Fábio F. Romualdo de Oliveira', 'fromualdo', 'RN', [])
    = guest_detail('Dr. Fernando Façanha', 'ffacanha', 'CE', [])
    = guest_detail('Dr. Francisco Robson Alves', 'frobson', 'CE', [])
    = guest_detail('Dr. Giovannini Cesar', 'giovanni', 'PB', [])
    = guest_detail('Dr. Guilherme Colares', 'gcolares', 'CE', [])
    = guest_detail('Dr. Guilhermo Tierno', 'gtierno', 'BA', [])
    = guest_detail('Dr. Hélio Rubens', 'hrubens', 'RN', [])
    = guest_detail('Dr. Henrique Bastos', 'hbastos', 'CE', [])
    = guest_detail('Dr. Hermann Gomes', 'hermanng', 'RN', [])
    = guest_detail('Dr. Hireno Guará', 'hguara', 'MA', [])
    = guest_detail('Dr. Humberto Lima', 'hlima', 'BA', [])
    = guest_detail('Dr. João Amaury', 'jamaury', 'PA', [])
    = guest_detail('Dr. João Ladislau', 'jlandislau', 'RN', [])
    = guest_detail('Dr. Jomar Souza', 'jomar', 'BA', [])
    = guest_detail('Dr. José Epitácio Moreira', 'jmoreira', 'RN', [])
    = guest_detail('Dr. José Lins', 'jlins', 'BA', [])
    = guest_detail('Dr. José Luiz Perez', 'jperes', 'PE', [])
    = guest_detail('Dr. José Wilson', 'jwilson', 'RO', [])
    = guest_detail('Dra. Kalyana Eduarda Fernandes', 'kfernandes', 'RN', [])
    = guest_detail('Dr. Kleidson Bastos', 'kbastos', 'RN', [])
    = guest_detail('Dr. Leonardo Correia', 'lcorreia', 'RN', [])
    = guest_detail('Dr. Luiz Fernando Jordão', 'lfjordao', 'RN', [])
    = guest_detail('Dr. Marcelo Crisanto', 'mcrisanto', 'PE', [])
    = guest_detail('Dr. Marcelo Krause', 'mkrause', 'PE', [])
    = guest_detail('Dr. Marcelo Rêgo', 'mrego', 'RN', [])
    = guest_detail('Dr. Márcio D\'Angelo', 'mdangelo', 'RN', []) 
    = guest_detail('Dr. Marcos André', 'mandre', 'PE', [])
    = guest_detail('Dr. Marcos Ishi', 'mishi', 'SE', [])
    = guest_detail('Dr. Matheus Lemos Azi', 'azi', 'BA', ['Doutor em Ortopedia pela FMRP-USP', 'Coordenador Grupo do Trauma Hospital Manoel Victorino – Salvador – Bahia'], 'azi.jpg')
    = guest_detail('Dr. Michel Freire', 'mfreire', 'RN', [])
    = guest_detail('Dr. Nelson Marquezini', 'marquezini', 'AC', [])
    = guest_detail('Dr. Raul Carneiro Lins', 'rlins', 'PE' , [])
    = guest_detail('Dr. Reginaldo Abdala', 'abdala', 'TO', [])
    = guest_detail('Dr. Ricardo Araújo', 'raraujo', 'RN', [])
    = guest_detail('Dr. Rinaldo Lucena', 'rlucena', 'PE', [])
    = guest_detail('Dr. Rogério Nobre', 'rnobre', 'RN', [])
    = guest_detail('Dr. Romeu Krause', 'rkrause', 'PE', [])
    = guest_detail('Dr. Ronaldo Silva', 'ronaldo', 'CE', [])
    = guest_detail("Dr. Sacha", 'sacha', 'PB', [])
    = guest_detail('Dr. Saulo Monteiro', 'smonteiro', 'PE', [])
    = guest_detail('Dr. Sérgio Canuto', 'scanuto', 'AL', [])
    = guest_detail('Dra. Tábata Alcântara', 'talcantara', 'RN', [])
    = guest_detail('Dr. Thiago Fernandes', 'tfernandes', 'PB', [])
    = guest_detail('Dr. Valmar Martins', 'valmar', 'RN', [])
    = guest_detail('Dra. Waldirene Rivas', 'wrivas', 'RO', [])
    = guest_detail('Dr. Walter Pinheiro', 'wpinheiro', 'SE', [])
    = guest_detail('Dr. Wilson Vasconcelos Neves Filho', 'wilson', 'BA', ['Médico assistente do serviço de joelho do Hospital São Rafael', 'Mestrando em ortopedia pela ALRM - Associação Lyonesa de Reabilitação Motora', 'Membro da SBOT', 'Membro da SBCJ', 'Membro da SFA - Sociedade Francesa de Artroscopia'])