---
layout: default 
title: Programação
javascript_imports: jquery.fancybox-1.3.1.pack guests
---
%h1 Programação Científica

%table#tabela-reservas
  %tr#topo-tabela
    %td(colspan="4") 22/04 QUINTA-FEIRA
  %tr#tabela-linhas
    %td.col-a Horários
    %td.col-a(colspan='3') Secretaria do Evento
  %tr#tabela-linhas
    %td.col-a 07:30
    %td(colspan='3') Credenciamento e entrega do material
  %tr#tabela-linhas
    %td.col-a(colspan=4) Manhã
  %tr#tabela-linhas
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório principal
    %td.col-a(rowspan=2) Horários
    %td.col-a Sala Maracajaú
  %tr#tabela-linhas
    %td.col-a Mini-Curso I - Pediátrica
    %td.col-a Mini-Curso II - Medicina desportiva
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.half
      As deformidades são todas iguais?
      %br
      %strong Professor:
      Dr. Chang Chia Po (AM)
    %td.col-a 08:00
    %td.half
      Lesão do bíceps distal no atleta
      %br
      %strong Professor:
      Dr. Adson Sá (CE)
  %tr#tabela-linhas
    %td.col-a 08:20
    %td.half
      Dismetrias
      %br
      %strong Professor:
      Dr. João Amaury (PA) 
    %td.col-a 08:15
    %td.half
      Lesão do Aparelho extensor em atletas.
      %br
      %strong Professor:
      Dr. João Landislau (RN)
  %tr#tabela-linhas
    %td.col-a 08:40
    %td.half
      A utilização dos fixadores externos
      %br
      %strong Professor:
      Dr. Marcelo Mercadante (SP)
    %td.col-a 08:30
    %td.half
      Lesão Muscular: Como eu trato?
      %br
      %strong Professor:
      Dr. Jomar Souza (BA)
  %tr#tabela-linhas
    %td.col-a 09:00
    %td.half
      Osteotomias
      %br
      %strong Professor:
      Dr. Epitácio Leite Rolim Filho (PE)
    %td.col-a 08:45
    %td.half
      Lesões do quadril do atleta
      %br
      %strong Professor:
      Dr. Raul Lins(PE)
  %tr#tabela-linhas
    %td.col-a 09:20
    %td.half
      Epifisiodeses definitivas
      %br
      %strong Professor:
      Dr. Nelson César Marquezini (AC)
    %td.col-a 09:00
    %td.half
      Pubalgia
      %br
      %strong Professor:
      Dr. Edilson Thiele (PR)
  %tr#tabela-linhas
    %td.col-a(rowspan=3) 09:40
    %td.half(rowspan=3)
      Parafusos transfisários.
      %br
      %strong Professor:
      Dr. Claudio Santili (SP)
    %td.col-a 09:15
    %td.half
      Reconstrução do LCA por navegação
      %br
      %strong Professor:
      Dr. Anderson Antonio da Costa (RJ)
  %tr#tabela-linhas
    %td.col-a 09:30
    %td.half
      Fratura por estresse
      %br
      %strong Professor:
      Dr. Marcelo Rêgo (RN)
  %tr#tabela-linhas
    %td.col-a 09:45
    %td.half
      SD. Atrito da banda iliotibial.
      %br
      %strong Professor:
      Dr. Marcos Girá (CE)
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a(colspan=3) Intervalo
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.half
      Epifisiodese com placa
      %br
      %strong Professora:
      Dra. Tábata Alcântara (RN)
    %td.col-a 10:15
    %td.half
      Duplo túnel na reconstrução do LCA. Verdade absoluta?
      %br
      %strong Professor:
      Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 10:40
    %td.half
      O que dizem as evidências
      %br
      %strong Professora:
      Dra. Waldirene Rivas (RO)
    %td.col-a 10:30
    %td.half
      Reconstrução do LCA em atleta esqueleticamente imaturo
      %br
      %strong Professor:
      Dr. Sérgio Canuto
  %tr#tabela-linhas
    %td.col-a(rowspan=4) 11:00
    %td.half(rowspan=4)
      Discussão de casos clínicos
      %br
      %strong Moderador:
      Dra. Tábata Alcântara (RN)
      %br
      %strong Debatedores:
      %br
      Dr. Chang Chia Po (AM) 
      %br
      Dr. João Amaury (PA)
      %br
      Dra. Waldirene Rivas (RO)
      %br
      Dr. Epitácio Leite Rolim Filho (PE)
      %br
      Dr. Nelson César Marquezini (AC)
      %br
      Dr. Marcelo Mercadante (SP) 
      %br
      Dr. Claudio Santili (SP)
    %td.col-a 10:45
    %td.half
      Existe prevenção da lesão do LCA no atleta?
      %br
      %strong Professor:
      Dr. José Luís Runco (RJ)
  %tr#tabela-linhas
    %td.col-a 11:00
    %td.half
      Tratamento das lesões condrais no atleta
      %br
      %strong Professor:
      Dr. Valmar Martins (RN)
  %tr#tabela-linhas
    %td.col-a 11:15
    %td.half
      Cotovelo do tenista
      %br
      %strong Professor:
      Dr. Marcelo Krause (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.half
      Luxação traumática da patela
      %br
      %strong Professor:
      Dr. Elson Miranda.(RN)
  %tr#tabela-linhas
    %td 
    %td 
    %td.col-a 11:45
    %td.half
      Discussão
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a(colspan='3') Almoço
  %tr#tabela-linhas
    %td.col-a(colspan='4') Tarde
  %tr#tabela-linhas
    %td.col-a(rowspan=2) Horários
    %td.col-a Auditório principal
    %td.col-a(rowspan=2) Horários
    %td.col-a Sala Maracajaú
  %tr#tabela-linhas
    %td.col-a Mini-Curso III - Trauma Ortopédico
    %td.col-a Mini-Curso IV - Artroplastia
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.half
      Resposta Inflamatória Ao Trauma: Porque Fazer Controle De Danos No Trauma Ortopédico
      %br
      %strong Professor:
      Dr. Armando Teixeira (BA)
    %td.col-a 14:00
    %td.half
      Prótese reversa de ombro
      %br
      %strong Professor:
      Dr. Geraldo Motta (RJ)
  %tr#tabela-linhas
    %td.col-a 14:20
    %td.half
      Fraturas ocasionadas por projetil de arma de fogo: existe necessidade de tratamento diferenciado?
      %br
      %strong Professor:
      Dr. Paulo Barbosa (RJ)
    %td.col-a 14:15
    %td.half
      Prótese de recapeamento do ombro
      %br
      %strong Professor:
      Dr. Adalberto Visco (BA)
  %tr#tabela-linhas
    %td.col-a 14:40
    %td.half
      Fraturas do anel pelvico: tratamento das lesões agudas
      %br
      %strong Professor:
      Dr. Antonio Marcos Ferracini (BA)
    %td.col-a 14:30
    %td.half
      Debates
  %tr#tabela-linhas
    %td.col-a 15:00
    %td.half
      Fraturas dos maléolos do tornozelo: ao que atentar?
      %br
      %strong Professor:
      Dr. Marcelo Mercadante (SP)
    %td.col-a 14:40
    %td.half
      Planejamento pré-op. Na A.T.Q.
      %br
      %strong Professor:
      Dr. Ronaldo Silva.(CE)
  %tr#tabela-linhas
    %td.col-a 15:20
    %td.half
      Fraturas do umero proximal: da osteossintese à artroplastia
      %br
      %strong Professor:
      Dr. Geraldo Motta (RJ)
    %td.col-a 14:55
    %td.half
      A.T.Q. Em casos especiais.
      %br
      %strong Professor:
      Dr. Sérgio Delmonte (RJ)
  %tr#tabela-linhas
    %td.col-a 15:40
    %td.half
      Perguntas e discussões
    %td.col-a 15:10
    %td.half
      A.T.Q. O que há de novo?
      %br
      %strong Professor:
      Dr. Edmilson Takata (SP)
  %tr#tabela-linhas
    %td 
    %td 
    %td.col-a 15:35
    %td.half
      Debates
  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a(colspan='3') Intervalo
  %tr#tabela-linhas
    %td.col-a 16:20
    %td.half
      Osteossintese interna definitiva nas fraturas expostas: quando fazer?
      %br
      %strong Professor:
      Dr. Wilson Vasconcelos Neves Filho (BA)
    %td.col-a 16:15
    %td.half
      Prótese unicompartimental.
      %br
      %strong Professor:
      Dr. Dilamar Pinto (PE)
  %tr#tabela-linhas
    %td.col-a 16:40
    %td.half
      Conversão de fixadores para osteossinteses internas: Quando fazer?
      %br
      %strong Professor:
      Dr. Marcelo Mercadante (SP)
    %td.col-a 16:30
    %td.half
      Artrop de revisão com perda óssea
      %br
      %strong Professor:
      Dr. Hugo Cobra (RJ)
  %tr#tabela-linhas
    %td.col-a 17:00
    %td.half
      Haste intramedulares  fresar ou  não fresar: o que muda?
      %br
      %strong Professor:
      Dr. Paulo Barbosa (RJ)
    %td.col-a 16:45
    %td.half
      Artrop navegada de joelho
      %br
      %strong Professor:
      Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 17:20
    %td.half
      Existe espaço para placas no tratamento das fraturas diafisarias dos membros inferiores
      %br
      %strong Professor:
      Dr. Marcelo Mercadante (SP)
    %td.col-a 17:00
    %td.half
      A.T.J infectada. "Como eu trato"
      %br
      %strong Professor:
      Dr. Luís Carlos Perez
  %tr#tabela-linhas
    %td.col-a 17:40
    %td.half
      Complicações com o uso das hastes intramedulares
      %br
      %strong Professor:
      Dr. Matheus Lemos Azi (BA)
    %td.col-a(rowspan=2) 17:15
    %td.half(rowspan=2)
      Debates
  %tr#tabela-linhas
    %td.col-a 18:00
    %td.half
      Perguntas e discussões
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a(colspan='3') Encerramento das atividades do dia
  %tr#tabela-linhas
    %td.col-a(colspan='4') Noite
  %tr#tabela-linhas
    %td.col-a Horários
    %td.col-a(colspan='3') Auditório pricipal
  %tr#tabela-linhas
    %td.col-a 19:30
    %td.half(colspan='3') Solenidade de abertura
  %tr#tabela-linhas
    %td.col-a 20:30
    %td.half(colspan='3')
      Conferência de abertura: Novo código de ética médica.
      Dr. Roberto D'ávilla (presidente do CFM) à confirmar
  %tr#tabela-linhas
    %td.col-a 21:30
    %td.half(colspan='3') Coquetel de abertura

%table#tabela-reservas
  %tr#topo-tabela
    %td(colspan=2) 23/04 SEXTA-FEIRA
  %tr#tabela-linhas
    %td.col-a(colspan='2') Auditório Principal
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.all
      Conferência: Gonartrose no Adulto Jovem: Opções de tratamento.
      %br
      %strong Professor:
      Dr. Hugo Cobra (RJ)
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.all
      Conferência: Aspectos Atuais na Reconstrução do Canto Póstero-Lateral do Joelho.
      %br
      %strong Professor:
      Dr. Alexandre Arraes (PE)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.all
      Mesa Redonda moderna I: Lesão ligamentar do joelho e femoro patelar.
      %br
      %strong Moderador:
      Dr. Romeu Krause (PE)
      %br
      %strong Debatedores:
      %br
      Dr. José Wilson (RO)
      %br
      Dr. José Luiz Perez (PE)
      %br
      Dr. Daniel Caldas (RN)
      %br 
      Dr. Alexandre Arraes (PE)
      %br 
      Dr. Michel Freire (RN)

  %tr#tabela-linhas
    %td.col-a 09:15
    %td.all
      Mesa redonda moderna II: Artroplastia do joelho
      %br
      %strong Moderador:
      %br
      Dr. Hugo Cobra (RJ)
      %br
      Dr. Anderson Antonio da Costa (RJ)
      %br 
      Dr. Giovannini Cesar (PB)
      %br 
      Dr. Dilamar M. Pinto (PE)
      %br 
      Dr. Alan P. Mozella (RJ)
      %br 
      Dr. Valmar Martins (RN)
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.all
      Conferência: Lombalgias: Diagnóstico e abordagem ambulatorial
      %br
      %strong Conferencista:
      Dr. Willian Texeira (SP)
      Dr. Willian Texeira (SP)
  %tr#tabela-linhas
      Dr. Willian Texeira (SP)
    %td.col-a 10:30
    %td.all Conferência: Traumatismos da Coluna Vertebral: Abordagem Inicial
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.all Mesa redonda moderna III: Escoliose
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.all Mesa redonda moderna IV: Hérnias discais e Estenoses degenerativas
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a Almoço
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.all Conferência: Atendimento Inicial à mão traumatizada e reimplantes
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.all Conferência: Aplicação da ressonância magnética nas doenças do punho e da mão
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.all
      Mesa redonda moderna V: Traumatismos da mão
      %br
      %strong Secretário:
      Dr. Hélio Rubens (RN)
      %br
      %strong Moderador:
      Dr. Márcio D'Angelo
      %br
      %strong Debatedores:
      %br
      Dr. Paulo Randal (MG)
      %br
      Dr. Ivan Chakour (SP)
      %br
      Dr. Enílton Matoa (BA)
      %br
      Dr. Antônio Lacerda (PB)
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.all
      Mesa redonda moderna VI: Patologias não-traumáticas da mão
      %br
      %strong Secretário: 
      Dr. Márcio D’Angelo
      %br
      %strong Moderador:
      Dr. Hélio Rubens (RN)
      %br
      %strong Debatedores:
      %br
      Dr. Paulo Randal (MG)
      %br
      Dr. Ivan Chakour (SP)
      %br
      Dr. Walter (SE)
      %br
      Dr. Sacha (PB)
      %br
      Dr. Marcelo Crisanto (PE)
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.all
      Conferência : Placas bloqueadas:  indicações e cuidados
      %br
      %strong Professor:
      Dr. Armando Teixeira (BA)
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.all
      Uso de placas volares bloqueadas nas fraturas do terço distal do radio: Quando indicar?
      %br
      Dr. Paulo Randal (MG)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.all
      Conferência: Conversão de fixadores externos para osteossinteses internas: Quando fazer?
      %br
      %strong Professor:
      Dr. Marcelo Mercadante (SP)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.all
      Mesa redonda moderna VII: Trauma de membros inferiores
      %br
      %strong Moderador:
      Dr. Marcelo Mercadante (SP)
      %br
      %strong Debatedores:
      %br
      Dr. Armando Texeira (BA)
      %br
      Dr. Humberto Lima (BA)
      %br 
      Dr. Kleidson Bastos (RN)
      %br
      Dr. Antonio Augusto Sobrinho (RN)
  %tr#tabela-linhas
    %td.col-a 17:30
    %td.all   
      Terapia de ondas por choque
      %br
      Dr. José Eid (SP)
      %br
      Dr. Elson Miranda (RN)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a Encerramento das atividades do dia

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan='2') 24/04 SÁBADO
  %tr#tabela-linhas
    %td.col-a(rowspan=2) HORÁRIOS
    %td.col-a Manhã
  %tr#tabela-linhas
    %td.col-a Auditório principal
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.all
      Conferência: Luxação recidivante do ombro no atleta.
      %br
      %strong Professor:
      Dr. Rinaldo Lucena (PE)
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.all
      Conferência: Luxações inveteradas do ombro: Como abordar?
      %br
      %strong Professor:
      Dr. Saulo Monteiro (PE)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.all
      Mesa redonda Moderna VIII: Trauma do Ombro
      %br
      %strong Moderador:
      Dr. Geraldo Motta (RJ)
      %br
      %strong Debatedores:
      %br
      Dr. Saulo Monteiro (PE)
      %br
      Dr. Adalberto Visco (BA)
      %br 
      Dr. Marcelo Rêgo (RN)
      %br
      Dr. Rinaldo Lucena (PE)
      %br
      Dr. Adson Sá (CE)

  %tr#tabela-linhas
    %td.col-a 09:15
    %td.all
      Mesa redonda  Moderna  IX: Artroscopia do Ombro
      %br
      %strong Moderador:
      Dr. Adalberto Visco (BA)
      %br
      %strong Debatedores:
      %br
      Dr. Marcelo Krause (PE)
      %br
      Dr. José Epitácio Moreira (RN)
      %br
      Dr. Rinaldo Lucena (PE)
      %br
      Dr. Adriano Leite (PB)
      %br
      Dr. Adson Sá (CE)

  %tr#tabela-linhas
    %td.col-a 10:15
    %td.all
      Conferência: Uso do PRP na traumatologia desportiva.
      %br
      %strong Conferencista:
      %br
      Dr. José Luiz Runco (RJ)
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.all
      Conferência: Aspectos atuais na reconstrução do LCA
      %strong Conferencista:
      %br
      Dr. Edilson Thielle (PR)
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.all
      Mesa redonda Moderna X: Lesões do joelho
      %br
      %strong Moderador:
      Dr. Sergio Canuto (AL)
      %br
      %strong Debatedores:
      %br
      Dr. Elson Miranda (RN)
      %br
      Dr. João Landislau (RN)
      %br
      Dr. Hireno Guará (MA)
      %br
      Dr. Romeu Krause (PE)
      %br
      Dr. Luiz Coste (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.all
      Mesa redonda Moderna XI: Lesões diversas do atleta.
      %br
      %strong Moderador: 
      Dr. Edilson Thiele (PR)
      %br
      %strong Debatedores:
      %br
      Dr. José Luiz Runco (RJ)
      %br
      Dr. Sérgio Canuto (AL)
      %br
      Dr. Jomar Souza (BA)
      %br
      Dr. Henrique Bastos (CE)
      %br
      Dr. Marcos Girão (CE)
      %br
      Dr. Marcelo Rêgo (RN)

  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a Almoço
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.all Conferência: Artroplastia total do quadril infectada: como eu trato?
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.all Conferência: Artroplastia total de revisão do quadril: Defeitos acetabulares e femorais
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.all Mesa redonda Moderna XII: Trauma do quadril e pelve.
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.all Mesa redonda Moderna XIII: Artroplastias primárias e revisão.
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.all
      Conferência: Epifisiólise
      %br
      %strong Conferencista:
      Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.all
      Conferência: Fraturas diafisárias do fêmur
      %br
      %strong Conferencista:
      Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.all
      Mesa redonda moderna XIV: Trauma pediátrico
      %br
      %strong Moderador:
      Dra. Kalyana Eduardo Fernandes (RN)
      %br
      %strong Secretário:
      Dr. Antonio Augusto Sobrinho (RN)
      %br
      %strong Debatedores:
      %br
      Dr. Chang Chia Po (AM)
      %br
      Dr. João Amaury (PA)
      %br
      Dra. Waldirene Rivas (RO)
      %br
      Dr. Rogério Nobre (RN)
      %br
      Dr. Epitácio Leite Rolim Filho (PE)
  %tr#tabela-linhas
    %td.col-a 17:30
    %td.all
      Conferência: Defesa profissional
      %br
      %strong Conferencista:
      Dr. Robinson Azevedo (SP)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a Encerramento das atividades do evento

%h3{ :id => "convidados"}
  %u Convidados Confirmados
%p
  %ul#guest_list
    = guest_detail('Dr. Adalberto Visco', 'adalberto', 'BA', [])
    = guest_detail('Dr. Adriano Correia', 'acorreia', 'RN', [])
    = guest_detail('Dr. Adriano Leite', 'aleite', 'PB', [])
    = guest_detail('Dr. Adson Sá', 'adson', 'CE', [])
    = guest_detail('Dr. Alan P. Mozella', 'mozella', 'RJ', [])
    = guest_detail('Dr. Alexandre Arraes', 'arraes', 'PE', [])
    = guest_detail('Dr. Alexandre Braz', 'abraz', 'RN', [])
    = guest_detail('Dr. Anderson Antonio da Costa', 'anderson', 'RJ', ['Membro da SBOT', 'Membro da SBCJ', 'Responsável pelo serviço de cirurgia do joelho do Hospital Naval Marcilio Dias'])
    = guest_detail('Dr. André Flávio', 'andref', 'PE', [])
    = guest_detail('Dr. Anibal Correia', 'anibalc', 'RN', [])
    = guest_detail('Dr. Antonio Augusto Sobrinho', 'asobrinho', 'RN', [])
    = guest_detail('Dr. Antonio Marcos Ferracini', 'antonio', 'BA', ['Mestre em Ortopedia pela UNIFESP', 'Professor Assistente da Universidade Federal da Bahia', 'Chefe do Serviço de Ortopedia do Hospital São Rafaell – Salvador/Bahia'])
    = guest_detail('Dr. Armando Teixeira', 'armando', 'BA', [])
    = guest_detail('Dr. Chang Chia Po', 'chang', 'AM', ['Atual chefe do serviço da Fundação Hospital Adriano Jorge - AM', 'Diretor presidente da Fundação Hospital Adriano Jorge - AM', 'Fundador da Sociedade Brasileira de Ortopedia Pediátrica', 'Ex-chefe do Hospital Universitário Getulio Vargas - AM'])
    = guest_detail('Dr. Claudio Santili', 'claudio', 'SP', [])
    = guest_detail('Dr. Daniel Caldas', 'dcaldas', 'RN', [])
    = guest_detail('Dr. Dilamar M. Pinto', 'dilamar', 'PE', [])
    = guest_detail('Dr. Djalma Carlos', 'dcarlos', 'RN', [])
    = guest_detail('Dr. Douglas Narazaki', 'narazaki', 'SP', [])
    = guest_detail('Dr. Edgar Toledo', 'etoledo', 'TO', [])
    = guest_detail('Dr. Edilson Thiele', 'edilson', 'PR', [])
    = guest_detail('Dr. Edimilson Takata', 'edimilson', 'SP', [])
    = guest_detail('Dr. Elson Miranda', 'elson', 'RN', [])
    = guest_detail('Dr. Epitácio Leite Rolim Filho', 'epitacio', 'PE', [])
    = guest_detail('Dr. Fernando Façanha', 'ffacanha', 'CE', [])
    = guest_detail('Dr. Francisco Robson', 'frobson', 'CE', [])
    = guest_detail('Dr. Geraldo Motta', 'geraldo', 'RJ', [])
    = guest_detail('Dr. Giovannini Cesar', 'giovanni', 'PB', [])
    = guest_detail('Dr. Guilherme Colares', 'gcolares', 'CE', [])
    = guest_detail('Dr. Guilhermo Tierno', 'gtierno', 'BA', [])
    = guest_detail('Dr. Hermann Gomes', 'hermanng', 'RN', [])
    = guest_detail('Dr. Hugo Cobra', 'hcobra', 'RJ', [])
    = guest_detail('Dr. Humberto Lima', 'hlima', 'BA', [])
    = guest_detail('Dr. Ivan Chankkour', 'ivan', 'SP', [])
    = guest_detail('Dr. João Amaury', 'jamaury', 'PA', [])
    = guest_detail('Dr. João Ladislau', 'jladislau', 'RN', [])
    = guest_detail('Dr. Jomar Souza', 'jomar', 'BA', [])
    = guest_detail('Dr. José Eid', 'eid', 'SP', [])
    = guest_detail('Dr. José Epitácio Moreira', 'jmoreira', 'RN', [])
    = guest_detail('Dr. José Lins', 'jlins', 'BA', [])
    = guest_detail('Dr. José Luís Runco', 'runco', 'RJ', [])
    = guest_detail('Dr. José Luiz Perez', 'jperez', 'PE', [])
    = guest_detail('Dr. José Wilson', 'jwilson', 'RO', [])
    = guest_detail('Dra. Kalyana Eduardo Fernandes', 'kfernandes', 'RN', [])
    = guest_detail('Dr. Kleidson Bastos', 'kbastos', 'RN', [])
    = guest_detail('Dr. Leonardo Correia', 'lcorreia', 'RN', [])
    = guest_detail('Dr. Luís Carlos Perez', 'lperez', nil, [])
    = guest_detail('Dr. Marcelo Mercadante', 'mercadante', 'SP', ['STAFF do serviço de ortopedia do Hospital Universitário Clementino Fraga Filho (UFRJ)', 'Professor Adjunto do Depto Ortopedia e Traumatologia da Faculdade de Ciências Médicas da Santa Casa de São Paulo', 'Médico Chefe de Clínica Adjunto do Departamento de Ortopedia e Traumatologia da Santa Casa de São Paulo'])
    = guest_detail('Dr. Marcelo Krause', 'mkrause', 'PE', [])
    = guest_detail('Dr. Marcelo Rêgo', 'mrego', 'RN', [])
    = guest_detail('Dr. Marco Ferracini', 'mferracini', 'BA', [])
    = guest_detail('Dr. Marcos André', 'mandre', 'PE', [])
    = guest_detail('Dr. Marcos Girá', 'mgira', 'CE', [])
    = guest_detail('Dr. Marcos Ishi', 'mishi', 'SE', [])
    = guest_detail('Dr. Matheus Lemos Azi', 'azi', 'BA', ['Doutor em Ortopedia pela FMRP-USP', 'Coordenador Grupo do Trauma Hospital Manoel Victorino – Salvador – Bahia'], 'azi.jpg')
    = guest_detail('Dr. Michel Freire', 'mfreire', 'RN', [])
    = guest_detail('Dr. Nelson César Marquezini', 'marquezini', 'AC', [])
    = guest_detail('Dr. Paulo Barbosa', 'barbosa', 'RJ', [])
    = guest_detail('Dr. Paulo Randal', 'randal', 'MG', [])
    = guest_detail('Dr. Raul Lins', 'rlins', nil, [])
    = guest_detail('Dr. Reginaldo Abdala', 'abdala', 'TO', [])
    = guest_detail('Dr. Rinaldo Lucena', 'rlucena', 'PE', [])
    = guest_detail("Dr. Roberto D'ávilla", 'davilla', 'DF', [])
    = guest_detail("Dr. Robson de Paixão Azevedo", 'rpaixao', 'GO', [])
    = guest_detail('Dr. Rogério Nobre', 'rnobre', 'RN', [])
    = guest_detail('Dr. Romeu Krause', 'rkrause', 'PE', [])
    = guest_detail('Dr. Ronaldo Silva', 'ronaldo', 'CE', [])
    = guest_detail('Dr. Saulo Monteiro', 'smonteiro', 'PE', [])
    = guest_detail('Dr. Sergio Canuto', 'scanuto', 'AL', [])
    = guest_detail('Dr. Sérgio Delmonte', 'delmonte', 'RJ', [])
    = guest_detail('Dra. Tábata Alcântara', 'talcantara', 'RN', [])
    = guest_detail('Dr. Thiago Fernandes', 'tfernandes', 'PB', [])
    = guest_detail('Dr. Valmar Martins', 'valmar', 'RN', [])
    = guest_detail('Dra. Waldirene Rivas', 'wrivas', 'RO', [])
    = guest_detail('Dr. Walter Pinheiro', 'wpinheiro', 'SE', [])
    = guest_detail('Dr. Wilson Vasconcelos Neves Filho', 'wilson', 'BA', ['Médico assistente do serviço de joelho do Hospital São Rafael', 'Mestrando em ortopedia pela ALRM - Associação Lyonesa de Reabilitação Motora', 'Membro da SBOT', 'Membro da SBCJ', 'Membro da SFA - Sociedade Francesa de Artroscopia'])
    = guest_detail('Dr. William Teixeira', 'wteixeira', 'SP', [])
