---
layout: default 
title: Programação
javascript_imports: jquery.fancybox-1.3.1.pack guests
---
%h1 Programação Científica

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan=4) 22/04 QUINTA-FEIRA
  %tr#tabela-linhas
    %td.col-a(colspan=4) MANHÃ  
  %tr#tabela-linhas
    %td.col-a(rowspan=2) HORÁRIOS
    %td.col-a(colspan=3) AUDITÓRIO PRINCIPAL
  %tr#tabela-linhas
    %td.col-a(colspan=3) Mini-Curso A: Medicina Desportiva
  %tr#tabela-linhas
    %td.col-a 08:00
    %td(colspan=3)
      %p
        %strong Palestra:
        Lesão do bíceps distal no atleta
        %br
        %strong Professor:
        Dr. Adson Sá (CE)  
  %tr#tabela-linhas
    %td.col-a 08:15
    %td(colspan=3)
      %p
        %strong Palestra:
        Lesão do aparelho extensor no joelho do atletas.
        %br
        %strong Professor:
        Dr. João Ladislau (RN)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td(colspan=3)
      %p
        %strong Palestra:
        Lesão Muscular: Como eu trato?
        %br
        %strong Professor:
        Dr. Jomar Souza (BA)
  %tr#tabela-linhas
    %td.col-a 08:45
    %td(colspan=3)
      %p
        %strong Palestra:
        Lesões do quadril no atleta.
        %br
        %strong Professor:
        Dr. Raul Carneiro Lins (PE)
  %tr#tabela-linhas
    %td.col-a 09:00
    %td(colspan=3)
      %p
        %strong Palestra:
        Pubalgia.
        %br
        %strong Palestrante:
        Dr. Edilson Thiele (PR)
  %tr#tabela-linhas
    %td.col-a 09:15
    %td(colspan=3)
      %p
        %strong Palestra:
        Reconstrução do LCA por navegação. 
        %br
        %strong Palestrante:
        Dr. Anderson  Antônio da Costa (RJ)
  %tr#tabela-linhas
    %td.col-a 09:30
    %td(colspan=3)
      %p
        %strong Palestra:
        Fratura por estresse. 
        %br
        %strong Palestrante:
        Dr. Marcelo Cabral Rêgo (RN)
  %tr#tabela-linhas
    %td.col-a 09:45
    %td(colspan=3)
      %p Discursão
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a(colspan=3) INTERVALO
  %tr#tabela-linhas
    %td.col-a 10:15
    %td(colspan=3)
      %p
        %strong Palestra:
        Duplo túnel na reconstrução do LCA. Verdade absoluta?
        %br
        %strong Palestrante:
        Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 10:30
    %td(colspan=3)
      %p
        %strong Palestra:
        Reconstrução do LCA em atleta esqueleticamente imaturo. 
        %br
        %strong Palestrante:
        Dr. Sérgio Canuto (AL)
  %tr#tabela-linhas
    %td.col-a 10:45
    %td(colspan=3)
      %p
        %strong Palestra:
        Existe prevenção da lesão do LCA no atleta?
        %br
        %strong Palestrante:
        Dr. José Luís Runco (RJ)
  %tr#tabela-linhas
    %td.col-a 11:00
    %td(colspan=3)
      %p
        %strong Palestra:
        Tratamento das lesões condrais no atleta. 
        %br
        %strong Palestrante:
        Dr. José Valmar Martins (RN)
  %tr#tabela-linhas
    %td.col-a 11:15
    %td(colspan=3)
      %p
        %strong Palestra:
        Cotovelo do tenista. 
        %br
        %strong Palestrante:
        Dr. Marcelo Krause (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td(colspan=3)
      %p
        %strong Palestra:
        Luxação traumática da patela. 
        %br
        %strong Palestrante:
        Dr. Elson Miranda (RN)
  %tr#tabela-linhas
    %td.col-a 11:45
    %td(colspan=3)
      %p Discursão
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a(colspan=3) ALMOÇO
    
  %tr#tabela-linhas
    %td
  %tr#tabela-linhas
    %td  
    
  %tr#tabela-linhas
    %td.col-a HORÁRIOS
    %td.col-a(colspan=3) SECRETARIA DO EVENTO
  %tr#tabela-linhas
    %td.col-a 07:30
    %td(colspan=3)
      %p Credenciamento e Entrega do Material

  %tr#tabela-linhas
    %td
  %tr#tabela-linhas
    %td
    
  %tr#tabela-linhas
    %td.col-a(colspan=4) TARDE
  %tr#tabela-linhas
    %td.col-a(rowspan=2) HORÁRIOS
    %td.col-a.tri AUDITÓRIO PRINCIPAL
    %td.col-a.tri AUDITÓRIO FERNANDO PAIVA
    %td.col-a.tri SALA ZUMBI
  %tr#tabela-linhas
    %td.col-a.tri Mini-Curso B: Trauma ortopédico
    %td.col-a.tri Mini-Curso C: Artroplastia
    %td.col-a.tri Mini-Curso D: Pediátrica
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.tri
      %p
        %strong Palestra:
        Resposta inflamatória ao trauma: porque fazer controle de danos no trauma ortopédico
        %br
        %strong Palestrante:
        Dr. Armando Teixeira (BA)
    %td.tri
      %p
        %strong Palestra:
        Prótese reversa de ombro.
        %br
        %strong Palestrante:
        Dr. Geraldo Motta (RJ)
    %td.tri
      %p
        %strong Palestra:
        As deformidades são todas iguais?
        %br
        %strong Palestrante:
        Dr. Chang  Chia Po (AM)
  %tr#tabela-linhas
    %td.col-a 14:20
    %td.tri
      %p
        %strong Palestra:
        Fraturas ocasionadas por projétil de arma de fogo: existe necessidade de tratamento diferenciado?
        %br
        %strong Palestrante:
        Dr. Paulo Barbosa Lourenço (RJ)
    %td.tri
      %p
        %strong Palestra:
        Prótese de recapeamento do ombro. 
        %br
        %strong Palestrante:
        Dr. Adalberto Visco (BA)
    %td.tri
      %p
        %strong Palestra:
        Dismetrias. 
        %br
        %strong Palestrante:
        Dr. João Amaury (PA)
  %tr#tabela-linhas
    %td.col-a 14:40
    %td.tri
      %p
        %strong Palestra:
        Fraturas do anel pélvico: tratamento das lesões agudas.
        %br
        %strong Palestrante:
        Dr. Antônio Marcos Ferracini (BA)
    %td.tri
      %p
        %strong Palestra:
        Planejamento pré operatório na A.T.Q.
        %br
        %strong Palestrante:
        Dr. Ronaldo Silva (CE)
    %td.tri
      %p
        %strong Palestra:
        A utilização dos fixadores externos.
        %br
        %strong Palestrante:
        Dr. Marcelo Mercadante (SP)
  %tr#tabela-linhas
    %td.col-a 15:00
    %td.tri
      %p
        %strong Palestra:
        Fraturas dos maléolos do tornozelo: ao que atentar?
        %br
        %strong Palestrante:
        Dr. Marcelo Mercadante (SP)
    %td.tri
      %p
        %strong Palestra:
        A.T.Q. Em casos especiais.
        %br
        %strong Palestrante:
        Dr. Sérgio Delmonte (RJ)
    %td.tri
      %p
        %strong Palestra:
        Osteotomias.
        %br
        %strong Palestrante:
        Dr. Epitácio Leite Rolim Filho (PE)
  %tr#tabela-linhas
    %td.col-a 15:20
    %td.tri
      %p
        %strong Palestra:
        Fraturas do umero proximal: da osteossintese à artroplastia
        %br
        %strong Palestrante:
        Dr. Geraldo Mota ( RJ)
    %td.tri(rowspan=2)
      %p
        %strong Palestra:
        A.T.Q. O que há de novo? 
        %br
        %strong Palestrante:
        Dr. Edmilson Takata (SP)
    %td.tri
      %p
        %strong Palestra:
        Epifisiodeses definitivas.
        %br
        %strong Palestrante:
        Dr. Nelson Marquezini (AC)
  %tr#tabela-linhas
    %td.col-a 15:40
    %td.tri
      %p Perguntas e discussões
    %td.tri
      %p
        %strong Palestra:
        Parafusos transfisários. 
        %br
        %strong Palestrantes:
        Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a(colspan=4) INTERVALO
  %tr#tabela-linhas
    %td.col-a 16:20
    %td.tri
      %p
        %strong Palestra:
        Osteossintese interna definitiva nas fraturas expostas: quando fazer?
        %br
        %strong Palestrante:
        Dr. Wilson Vasconcelos Filho (BA)
    %td.tri
      %p
        %strong Palestra:
        Prótese unicompartimental. 
        %br
        %strong Palestrante:
        Dr. Dilamar  M. Pinto (PE)
    %td.tri
      %p
        %strong Palestra:
        Epifisiodeses com utilização com placa
        %br
        %strong Palestrante:
        Dra. Tábata Alcântara (RN)
  %tr#tabela-linhas
    %td.col-a 16:40
    %td.tri
      %p
        %strong Palestra:
        Conversão de fixadores para osteossinteses internas: quando fazer? 
        %br
        %strong Palestrante:
        Dr. Marcelo Mercadante (SP)
    %td.tri
      %p
        %strong Palestra:
        Artroplastia de revisão com perda óssea.
        %br
        %strong Palestrante:
        Dr. Hugo Alexandre Cobra (RJ) 
    %td.tri
      %p
        %strong Palestra:
        O que dizem as evidências
        %br
        %strong Palestrante:
        Dra Waldirene  Rivas (RO)
  %tr#tabela-linhas
    %td.col-a 17:00
    %td.tri
      %p
        %strong Palestra:
        Haste intramedulares  fresar ou  não fresar: o que muda?
        %br
        %strong Palestrante:
        Dr.Paulo Barbosa Lourenço (RJ)
    %td.tri
      %p
        %strong Palestra:
        Artroplastia navegada de joelho.
        %br
        %strong Palestrante:
        Dr. Romeu Krause (PE)
    %td.tri(rowspan=3)
      %p
        %strong Mesa Redonda:
        Discussão de casos clínicos.
        %br
        %strong Moderadora:
        Dra. Tabata Alcantara(RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Chang Chia Po(AM)
        %br
        %span Dr. João Amaury (PA)
        %br
        %span Dra Waldirene Rivas
        %br
        %span Dr. Epitácio Leite Rolim Filho (PE)
        %br
        %span Dr. Nelson Marquezini  (AC)
        %br
        %span Dr. Marcelo Mercadante (SP)
        %br
        %span Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 17:20
    %td.tri
      %p
        %strong Palestra:
        Existe espaço para placas no tratamento das fraturas diafisarias dos membros inferiores.
        %br
        %strong Palestrante:
        Dr. Marcelo Mercadante (SP)
    %td.tri
      %p
        %strong Palestra:
        A.T.J infectada. “Como eu trato”
        %br
        %strong Palestrante:
        Dr. José Luíz  Perez (PE)
  %tr#tabela-linhas
    %td.col-a 17:40
    %td.tri 
      %p
        %strong Palestra:
        Complicações com o uso das hastes intramedulares
        %br
        %strong Palestrante:
        Dr. Matheus  Lemos Azi (BA)
    %td.tri(rowspan=2)
      %p Perguntas e discussões
  %tr#tabela-linhas
    %td.col-a 18:00
    %td.tri
      %p Perguntas e discussões
    %td.tri
      %p Perguntas e discussões
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a(colspan=4) ENCERRAMENTO DAS ATIVIDADES DO DIA
        
  %tr#tabela-linhas
    %td
    %td
  %tr#tabela-linhas
    %td
    %td
  
  %tr#tabela-linhas
    %td.col-a(colspan=4) NOITE
  %tr#tabela-linhas
    %td.col-a HORÁRIOS
    %td.col-a(colspan=3) AUDITÓRIO PRINCIPAL
  %tr#tabela-linhas
    %td.col-a 19:30
    %td.col-a(colspan=3) SOLENIDADE DE ABERTURA
  %tr#tabela-linhas
    %td.col-a 20:30
    %td(colspan=3)
      %p
        %strong Conferência de abertura: 
        Novo código de ética médica.
        %br
        %strong Conferencista:
        Dr. Desiré Carlos Callegari (SP)
  %tr#tabela-linhas
    %td.col-a 21:30
    %td(colspan=3)
      %p
        Coquetel de Abertura
    
%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan=2) 23/04 SEXTA-FEIRA
  %tr#tabela-linhas
    %td.col-a(colspan=2) MANHÃ
  %tr#tabela-linhas
    %td.col-a HORÁRIOS
    %td.col-a.all AUDITÓRIO PRINCIPAL
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.all
      %p
        %strong Conferência I:
        Gonartrose no Adulto Jovem: Opções de tratamento.
        %br
        %strong Conferencista:
        Dr. Hugo Alexandre Cobra (RJ)
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.all
      %p
        %strong Conferência II:
        Aspectos Atuais na Reconstrução do Canto Póstero-Lateral do Joelho.
        %br
        %strong Conferencista:
        Dr. Alexandre Arraes (PE)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.all
      %p
        %strong Mesa Redonda Moderna I:
        Lesão ligamentar do joelho e femoro patelar.
        %br
        %strong Moderador:
        Dr. Romeu Krause (PE)
        %br
        %strong Secretário:
        Dr. Luiz Fernando Jordão (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. José Wilson (RO)
        %br
        %span Dr. José Luiz Perez (PE)
        %br
        %span Dr. Daniel Caldas (RN)
        %br 
        %span Dr. Alexandre Arraes (PE)
        %br 
        %span Dr. Michel Freire (RN)
        
  %tr#tabela-linhas
    %td.col-a 09:15
    %td.all
      %p
        %strong Mesa Redonda Moderna II:
        Artroplastia do joelho
        %br
        %strong Moderador:
        Dr. Hugo Alexandre Cobra (RJ)
        %br
        %strong Secretário:
        Dr. Luiz Fernando Jordão (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Anderson Antônio da Costa (RJ)
        %br 
        %span Dr. Giovannini Cesar (PB)
        %br 
        %span Dr. Dilamar M. Pinto (PE)
        %br 
        %span Dr. Alan P. Mozella (RJ)
        %br 
        %span Dr. José Valmar Martins (RN)
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a INTERVALO
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.all
      %p
        %strong Conferência III: 
        Lombalgias: Diagnóstico e abordagem ambulatorial
        %br
        %strong Conferencista:
        Dr. William Teixeira (SP)
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.all
      %p
        %strong Conferência IV: 
        Traumatismos da Coluna Vertebral: Abordagem Inicial
        %br
        %strong Conferencista:
        Dr. Douglas Narazaki (SP)
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.all
      %p
        %strong Mesa Redonda Moderna III: 
        Escoliose
        %br
        %strong Moderador:
        Dr. Fernando Façanha (CE)
        %br
        %strong Secretário:
        Dr. Anibal Correia Silva (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Reginaldo Abdala (TO)
        %br
        %span Dr. Leonardo Correia (RN)
        %br
        %span Dr. Thiago Fernandes (PB)
        %br
        %span Dr. Marcos André (PE)
        %br
        %span Dra. Claudia Pedra (RJ)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.all
      %p
        %strong Mesa Redonda Moderna IV: 
        Hérnias discais e Estenoses degenerativas
        %br
        %strong Moderador:
        Dr. Leonardo Correia (RN)
        %br
        %strong Secretário:
        Dr. Anibal Correia Silva (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. William Teixeira (SP)
        %br
        %span Dr. Marcos Ishi (SE)
        %br
        %span Dr. André Flávio (PE)
        %br
        %span Dr. Fernando Façanha (CE)
        %br
        %span Dr. Thiago Fernandes (PB)
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a ALMOÇO
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.all
      %p
        %strong Conferência V: 
        Atendimento Inicial à mão traumatizada e reimplantes
        %br
        %strong Conferencista:
        Dr. Paulo Randal (MG)
  %tr#tabela-linhas
    %td.col-a 14:15
    %td.all
      %p 
        %strong Conferência VI: 
        Aplicação da ressonância magnética nas doenças do punho e da mão
        %br
        %strong Conferencista:
        Dr. Rogério Lacerda (RN)
  %tr#tabela-linhas
    %td.col-a 14:30
    %td.all
      %p
        %strong Mesa Redonda Moderna V:
        Traumatismos da mão
        %br
        %strong Moderador:
        Dr. Márcio D'Angelo (RN)
        %br
        %strong Secretário:
        Dr. Hélio Rubens Polido da Silva (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Paulo Randal Pires (MG)
        %br
        %span Dr. Ivan Chakkour (SP)
        %br
        %span Dr. Enilton Matos (BA)
        %br
        %span Dr. Antônio Lacerda (PB)
        %br
        %span Dra. Sandra Paiva (PE)
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.all
      %p
        %strong Mesa Redonda Moderna VI: 
        Patologias não-traumáticas da mão
        %br
        %strong Moderador:
        Dr. Hélio Rubens Polido da Silva (RN)
        %br
        %strong Secretário: 
        Dr. Márcio D’Angelo (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Paulo Randal (MG)
        %br
        %span Dr. Ivan Chakkour (SP)
        %br
        %span Dr. Walter Pinheiro (SE)
        %br
        %span Dr. Marcelo Crisanto (PE)
  %tr#tabela-linhas
    %td.col-a 16:00
    %td.col-a INTERVALO
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.all
      %p
        %strong Conferência VII: 
        Placas bloqueadas:  indicações e cuidados
        %br
        %strong Conferencista:
        Dr. Armando Teixeira (BA)
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.all
      %p
        %strong Conferência VIII: 
        Uso de placas volares bloqueadas nas fraturas do terço distal do radio: Quando indicar?
        %br
        %strong Conferencista:
        Dr. Paulo Randal Pires (MG)
  %tr#tabela-linhas
    %td.col-a 16:45
    %td.all
      %p
        %strong Conferência IX: 
        Conversão de fixadores externos para osteossinteses internas: Quando fazer?
        %br
        %strong Conferencista:
        Dr. Marcelo Mercadante (SP)
  %tr#tabela-linhas
    %td.col-a 17:00
    %td.all
      %p
        %strong Mesa Redonda Moderna VII: 
        Trauma de membros inferiores
        %br
        %strong Moderador:
        Dr. Marcelo Mercadante (SP)
        %br
        %strong Secretário:
        Dr. Ricardo Araújo Teixeira (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Armando Teixeira (BA)
        %br
        %span Dr. Humberto Lima (BA)
        %br 
        %span Dr. Kleidson Bastos (RN)
        %br
        %span Dr. Antônio Augusto Sobrinho (RN)
  %tr#tabela-linhas
    %td.col-a 17:45
    %td.all   
      %p
        %strong Conferência X: 
        Terapia de ondas por choque
        %br
        %strong Conferencistas:
        %br
        %span Dr. José Eid (SP)
        %br
        %span Dr. Elson Miranda (RN)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a ENCERRAMENTO DAS ATIVIDADES DO DIA

%table#tabela-reservas
  %tr#topo-tabela
    %td.col-a(colspan='2') 24/04 SÁBADO
  %tr#tabela-linhas
    %td.col-a(colspan=2) MANHÃ
  %tr#tabela-linhas
    %td.col-a HORÁRIOS
    %td.col-a AUDITÓRIO PRINCIPAL
  %tr#tabela-linhas
    %td.col-a 08:00
    %td.all
      %p
        %strong Conferência XI: 
        Luxação recidivante do ombro no atleta.
        %br
        %strong Conferencista:
        Dr. Rinaldo Lucena (PE)
  %tr#tabela-linhas
    %td.col-a 08:15
    %td.all
      %p
        %strong Conferência XII: 
        Luxações inveteradas do ombro: Como abordar?
        %br
        %strong Conferencista:
        Dr. Saulo Monteiro (PE)
  %tr#tabela-linhas
    %td.col-a 08:30
    %td.all
      %p
        %strong Mesa Redonda Moderna VIII: 
        Trauma do Ombro
        %br
        %strong Moderador:
        Dr. Geraldo Motta (RJ)
        %br
        %strong Secretário:
        Dr. José Epitácio Morreia (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Saulo Monteiro (PE)
        %br
        %span Dr. Adalberto Visco (BA)
        %br 
        %span Dr. Marcelo Cabral Rêgo (RN)
        %br
        %span Dr. Rinaldo Lucena (PE)
        %br
        %span Dr. Adson Sá (CE)

  %tr#tabela-linhas
    %td.col-a 09:15
    %td.all
      %p
        %strong Mesa Redonda Moderna IX:
        Artroscopia do Ombro
        %br
        %strong Moderador:
        Dr. Adalberto Visco (BA)
        %br
        %strong Secretário:
        Dr. Marcelo Cabral Rêgo (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Marcelo Krause (PE)
        %br
        %span Dr. José Epitácio Moreira (RN)
        %br
        %span Dr. Rinaldo Lucena (PE)
        %br
        %span Dr. Adriano Leite (PB)
        %br
        %span Dr. Adson Sá (CE)
  %tr#tabela-linhas
    %td.col-a 10:00
    %td.col-a INTERVALO      
  %tr#tabela-linhas
    %td.col-a 10:15
    %td.all
      %p
        %strong Conferência XIII: 
        Uso do PRP na traumatologia desportiva.
        %br
        %strong Conferencista:
        Dr. José Luís Runco (RJ)
  %tr#tabela-linhas
    %td.col-a 10:30
    %td.all
      %p
        %strong Conferência XIV: 
        Aspectos atuais na reconstrução do LCA
        %br
        %strong Conferencista:
        Dr. Edilson Thiele (PR)
  %tr#tabela-linhas
    %td.col-a 10:45
    %td.all
      %p
        %strong Mesa Redonda Moderna X: 
        Lesões do joelho
        %br
        %strong Moderador:
        Dr. Sérgio Canuto (AL)
        %br
        %strong Secretário:
        Dr. Fábio F. Romualdo de Oliveira (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Elson Miranda (RN)
        %br
        %span Dr. João Ladislau (RN)
        %br
        %span Dr. Romeu Krause (PE)
  %tr#tabela-linhas
    %td.col-a 11:30
    %td.all
      %p
        %strong Mesa Redonda Moderna XI: 
        Lesões diversas do atleta.
        %br
        %strong Moderador: 
        Dr. Edilson Thiele (PR)
        %br
        %strong Secretário:
        Dr. Fábio F. Romualdo de Oliveira (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. José Luís Runco (RJ)
        %br
        %span Dr. Sérgio Canuto (AL)
        %br
        %span Dr. Jomar Souza (BA)
        %br
        %span Dr. Henrique Bastos (CE)
        %br
        %span Dr. Marcos Girão (CE)
        %br
        %span Dr. Marcelo Cabral Rêgo (RN)
  %tr#tabela-linhas
    %td.col-a 12:15
    %td.col-a ALMOÇO
  %tr#tabela-linhas
    %td.col-a 14:00
    %td.all
      %p
        %strong Conferência XV: 
        Defesa profissional e Experiência da SBOT no HAITI
        %br
        %strong Conferencista:
        Dr. Robson Azevedo Paixão (SP)
  %tr#tabela-linhas
    %td.col-a 15:00
    %td.all
      %p
        %strong Conferência XVI: 
        Artroplastia total do quadril infectada: como eu trato?
        %br
        %strong Conferencista:
        Dr. Sérgio Delmonte (RJ)
  %tr#tabela-linhas
    %td.col-a 15:15
    %td.all
      %p
        %strong Conferência XVII:
        Artroplastia total de revisão do quadril: Defeitos acetabulares e femorais.
        %br
        %strong Conferencista:
        Dr. Edmilson Takata (SP)
  %tr#tabela-linhas
    %td.col-a 15:30
    %td.all
      %p
        %strong Mesa Redonda Moderna XII: 
        Trauma do quadril e pelve.
        %br
        %strong Moderador:
        Dr. Edmilson Takata (SP)
        %br
        %strong Secretário:
        Dr. Hermann Costa Gomes (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Ronaldo Silva (CE)
        %br
        %span Dr. Djalma Carlos (RN)
        %br
        %span Dr. Raul Carneiro Lins (PE)
        %br
        %span Dr. Antônio Marcos Ferracini (BA)
  %tr#tabela-linhas
    %td.col-a 16:15
    %td.col-a INTERVALO
  %tr#tabela-linhas
    %td.col-a 16:30
    %td.all
      %p
        %strong Mesa Redonda Moderna XIII: 
        Artroplastias primárias e revisão.
        %br
        %strong Moderador:
        Dr. Sérgio Delmonte (RJ)
        %br
        %strong Secretário: 
        Dr. Hermann Costa Gomes (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Guilhermo Tierno (BA)
        %br
        %span Dr. Adriano Melo Correia (RN)
        %br
        %span Dr. Francisco Robson Alves (CE)
        %br
        %span Dr. Edgar Toledo (TO)
  %tr#tabela-linhas
    %td.col-a 17:15
    %td.all
      %p
        %strong Conferência XVII: 
        Epifisiólise
        %br
        %strong Conferencista:
        Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 17:30
    %td.all
      %p
        %strong Conferência XVIII: 
        Fraturas diafisárias do fêmur
        %br
        %strong Conferencista:
        Dr. Claudio Santili (SP)
  %tr#tabela-linhas
    %td.col-a 17:45
    %td.all
      %p
        %strong Mesa Redonda Moderna XIV: 
        Trauma pediátrico
        %br
        %strong Moderador:
        Dra. Kalyana Eduarda Fernandes (RN)
        %br
        %strong Secretário:
        Dr. Antônio Augusto Sobrinho (RN)
        %br
        %strong Debatedores:
        %br
        %span Dr. Claudio Santili (SP)
        %br
        %span Dr. Chang Chia Po (AM)
        %br
        %span Dr. João Amaury (PA)
        %br
        %span Dra. Waldirene Rivas (RO)
        %br
        %span Dr. Rogério Maciel Nobre (RN)
        %br
        %span Dr. Epitácio Leite Rolim Filho (PE)
  %tr#tabela-linhas
    %td.col-a 18:30
    %td.col-a ENCERRAMENTO DAS ATIVIDADES DO EVENTO

%h3{ :id => "convidados"}
  %u Convidados Confirmados
%h4{ :id => "regiao1" } Regiões Sul e Sudeste
%p
  %ul#guest_list
    = guest_detail('Dr. Alan P. Mozella', 'mozella', 'RJ', [])
    = guest_detail('Dr. Anderson Antônio da Costa', 'anderson', 'RJ', ['Membro da SBOT', 'Membro da SBCJ', 'Responsável pelo serviço de cirurgia do joelho do Hospital Naval Marcilio Dias'])
    = guest_detail('Dr. Claudia Pedra', 'claudia', 'RJ', [])
    = guest_detail('Dr. Claudio Santili', 'claudio', 'SP', [])
    = guest_detail('Dr. Desiré Carlos Callegari', 'callegari', 'DF', [])
    = guest_detail('Dr. Douglas Narazaki', 'narazaki', 'SP', [])
    = guest_detail('Dr. Edilson Thiele', 'edilson', 'PR', [])
    = guest_detail('Dr. Edmilson Takata', 'edimilson', 'SP', [])
    = guest_detail('Dr. Geraldo Motta', 'geraldo', 'RJ', [])
    = guest_detail('Dr. Hugo Alexandre Cobra', 'hcobra', 'RJ', ['Membro do grupo cirúrgico do joelho do INTO-MS RJ'])
    = guest_detail('Dr. Ivan Chakkour', 'ivan', 'SP', ['Professor e Doutor pela Faculdade de Ciências Médicas da Santa Casa de São Paulo', 'Responsável pelo Centro de Treinamento em Cirurgia da Mão da Santa Casa SP', 'Diretor da Regional São Paulo da Sociedade Brasileira de Cirurgia da Mão'])
    = guest_detail('Dr. José Eid', 'eid', 'SP', [])
    = guest_detail('Dr. José Luís Runco', 'runco', 'RJ', ['Ex-presidente do Comitê de Trauma de Esporte da SBOT', 'Vice-presidente da SBA', 'Coordenador Médico do CRF', 'Coordenador Médico do CBF', 'Membro titular da SBCJ'])
    = guest_detail('Dr. Marcelo Mercadante', 'mercadante', 'SP', ['STAFF do Serviço de Ortopedia do Hospital Universitário Clementino Fraga Filho (UFRJ)', 'Professor Adjunto do Departamento Ortopedia e Traumatologia da Faculdade de Ciências Médicas da Santa Casa de São Paulo', 'Médico Chefe de Clínica Adjunto do Departamento de Ortopedia e Traumatologia da Santa Casa de São Paulo'])
    = guest_detail('Dr. Paulo José Suarez Barbosa', 'pbarbosa', 'RJ', [])
    = guest_detail('Dr. Paulo Randal Pires', 'randal', 'MG', [])
    = guest_detail('Dr. Paulo Roberto Barbosa de Toledo Lourenço', 'plourenco', 'RJ', [])
    = guest_detail("Dr. Robson Azevedo Paixão", 'rpaixao', 'SP', [])
    = guest_detail('Dr. Sérgio Delmonte', 'delmonte', 'RJ', [])
    = guest_detail('Dr. William Teixeira', 'wteixeira', 'SP', [])
%h4{ :id => "regiao2" } Regiões Norte e Norteste
%p
  %ul#guest_list
    = guest_detail('Dr. Adalberto Visco', 'adalberto', 'BA', [])
    = guest_detail('Dr. Adriano Melo Correia', 'acorreia', 'RN', [])
    = guest_detail('Dr. Adriano Leite', 'aleite', 'PB', [])
    = guest_detail('Dr. Adson Sá', 'adson', 'CE', [])
    = guest_detail('Dr. Alexandre Arraes', 'arraes', 'PE', [])
    = guest_detail('Dr. Alexandre Braz Camargo', 'abraz', 'RN', [])
    = guest_detail('Dr. André Flávio', 'andref', 'PE', [])
    = guest_detail('Dr. Anibal Correia Silva', 'anibalc', 'RN', [])
    = guest_detail('Dr. Antônio Augusto Sobrinho', 'asobrinho', 'RN', [])
    = guest_detail('Dr. Antônio Lacerda', 'alacerda', 'PA', [])
    = guest_detail('Dr. Antônio Marcos Ferracini', 'antonio', 'BA', ['Mestre em Ortopedia pela UNIFESP', 'Professor Assistente da Universidade Federal da Bahia', 'Chefe do Serviço de Ortopedia do Hospital São Rafaell – Salvador/Bahia'])
    = guest_detail('Dr. Armando Teixeira', 'armando', 'BA', [])
    = guest_detail('Dr. Chang Chia Po', 'chang', 'AM', ['Atual chefe do serviço da Fundação Hospital Adriano Jorge - AM', 'Diretor presidente da Fundação Hospital Adriano Jorge - AM', 'Fundador da Sociedade Brasileira de Ortopedia Pediátrica', 'Ex-chefe do Hospital Universitário Getulio Vargas - AM'])
    = guest_detail('Dr. Daniel Caldas', 'dcaldas', 'RN', [])
    = guest_detail('Dr. Dilamar M. Pinto', 'dilamar', 'PE', [])
    = guest_detail('Dr. Djalma Carlos', 'dcarlos', 'RN', [])
    = guest_detail('Dr. Edgar Toledo', 'etoledo', 'TO', [])
    = guest_detail('Dr. Elson Miranda', 'elson', 'RN', [])
    = guest_detail('Dr. Enilton Matos', 'enilton', 'BA', [])
    = guest_detail('Dr. Epitácio Leite Rolim Filho', 'epitacio', 'PE', [])
    = guest_detail('Dr. Fábio F. Romualdo de Oliveira', 'fromualdo', 'RN', [])
    = guest_detail('Dr. Fernando Façanha', 'ffacanha', 'CE', [])
    = guest_detail('Dr. Francisco Robson Alves', 'frobson', 'CE', [])
    = guest_detail('Dr. Giovannini Cesar', 'giovanni', 'PB', [])
    = guest_detail('Dr. Guilherme Colares', 'gcolares', 'CE', [])
    = guest_detail('Dr. Guilhermo Tierno', 'gtierno', 'BA', [])
    = guest_detail('Dr. Hélio Rubens Polido da Silva', 'hrubens', 'RN', [])
    = guest_detail('Dr. Henrique Bastos', 'hbastos', 'CE', [])
    = guest_detail('Dr. Hermann Costa Gomes', 'hermanng', 'RN', [])
    = guest_detail('Dr. Hireno Guará', 'hguara', 'MA', [])
    = guest_detail('Dr. Humberto Lima Costa Júnior', 'hlima', 'BA', ['Médico Ortopedista do Hospital São Rafael', 'Membro da Sociedade Brasileira de Traumatologia Ortopédica', 'Membro da Sociedade Asamifix de Reconstrução Óssea e Articular', 'Membro da Sociedade Brasileira de Quadril'])
    = guest_detail('Dr. João Amaury', 'jamaury', 'PA', [])
    = guest_detail('Dr. João Ladislau', 'jlandislau', 'RN', [])
    = guest_detail('Dr. Jomar Souza', 'jomar', 'BA', [])
    = guest_detail('Dr. José Epitácio Moreira', 'jmoreira', 'RN', [])
    = guest_detail('Dr. José Lins', 'jlins', 'BA', [])
    = guest_detail('Dr. José Luiz Perez', 'jperes', 'PE', [])
    = guest_detail('Dr. José Valmar Martins', 'jvalmar', 'RN', [])
    = guest_detail('Dr. José Wilson', 'jwilson', 'RO', [])
    = guest_detail('Dra. Kalyana Eduarda Fernandes', 'kfernandes', 'RN', [])
    = guest_detail('Dr. Kleidson Bastos', 'kbastos', 'RN', [])
    = guest_detail('Dr. Leonardo Correia', 'lcorreia', 'RN', [])
    = guest_detail('Dr. Luiz Fernando Jordão', 'lfjordao', 'RN', [])
    = guest_detail('Dr. Marcelo Crisanto', 'mcrisanto', 'PE', [])
    = guest_detail('Dr. Marcelo Krause', 'mkrause', 'PE', [])
    = guest_detail('Dr. Marcelo Cabral Rêgo', 'mrego', 'RN', [])
    = guest_detail('Dr. Márcio D\'Angelo', 'mdangelo', 'RN', []) 
    = guest_detail('Dr. Marcos André', 'mandre', 'PE', [])
    = guest_detail('Dr. Marcos Girão', 'mgirao', 'CE', [])
    = guest_detail('Dr. Marcos Ishi', 'mishi', 'SE', [])
    = guest_detail('Dr. Matheus Lemos Azi', 'azi', 'BA', ['Doutor em Ortopedia pela FMRP-USP', 'Coordenador Grupo do Trauma Hospital Manoel Victorino – Salvador – Bahia'], 'azi.jpg')
    = guest_detail('Dr. Michel Freire', 'mfreire', 'RN', [])
    = guest_detail('Dr. Nelson Marquezini', 'marquezini', 'AC', [])
    = guest_detail('Dr. Raul Carneiro Lins', 'rlins', 'PE' , [])
    = guest_detail('Dr. Reginaldo Abdala', 'abdala', 'TO', [])
    = guest_detail('Dr. Ricardo Araújo Teixeira', 'raraujo', 'RN', [])
    = guest_detail('Dr. Rinaldo Lucena', 'rlucena', 'PE', [])
    = guest_detail('Dr. Rogério Maciel Nobre', 'rnobre', 'RN', [])
    = guest_detail('Dr. Romeu Krause', 'rkrause', 'PE', [])
    = guest_detail('Dr. Ronaldo Silva', 'ronaldo', 'CE', [])
    = guest_detail("Dr. Sandra Paiva", 'sandra', 'PE', [])
    = guest_detail('Dr. Saulo Monteiro', 'smonteiro', 'PE', [])
    = guest_detail('Dr. Sérgio Canuto', 'scanuto', 'AL', [])
    = guest_detail('Dra. Tábata Alcântara', 'talcantara', 'RN', [])
    = guest_detail('Dr. Thiago Fernandes', 'tfernandes', 'PB', [])
    = guest_detail('Dra. Waldirene Rivas', 'wrivas', 'RO', [])
    = guest_detail('Dr. Walter Pinheiro', 'wpinheiro', 'SE', [])
    = guest_detail('Dr. Wilson Vasconcelos Neves Filho', 'wilson', 'BA', ['Médico assistente do serviço de joelho do Hospital São Rafael', 'Mestrando em ortopedia pela ALRM - Associação Lyonesa de Reabilitação Motora', 'Membro da SBOT', 'Membro da SBCJ', 'Membro da SFA - Sociedade Francesa de Artroscopia'])
