!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "author", :content => "Participe.de - Tink!" }
    %meta{ :name => "description", :content => "XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia" }
    %meta{ :name => "keywords", :content => "XIV, congresso, norte-nordeste, ortopedia, traumatologia" }
    - %w(reset text 960 style sifr).each do |css_file|
      = css_tag("#{css_file}.css")
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" }
    - %w(sifr sifr-config theme).each do |js_file|
      = script_tag("#{js_file}.js")
  %body
    .flowers
      .header
        .container_12
          #menu.grid_12
            %ul
              - site.posts.each do |post|
                %li{:class => "#{'current' if (page.title == post.title)}"}
                  %a{ :href => post.url}= post.title
          #sides.grid_4.alpha
            %span
              %strong 20 a 22 de outubro de 2010
              %p Centro de Convenções | Natal-RN   
          #logo.grid_4
            %img{ :src => "images/logo-orto.png", :alt => "XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia" }
          #sides.grid_4.omega
            %span
              %p
                Faltam
                %strong 242 Dias
              %p para o evento
        .container_12
          
