!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "author", :content => "Participe.de - Tink!" }
    %meta{ :name => "description", :content => "XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia" }
    %meta{ :name => "keywords", :content => "XIV, congresso, norte-nordeste, ortopedia, traumatologia" }
    - %w(reset text 960 style sifr).each do |css_file|
      = css_tag("#{css_file}.css")
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" }
    - %w(sifr sifr-config theme).each do |js_file|
      = script_tag("#{js_file}.js")
  %body
    .everything
      .flowers
        .header
          .container_12
            #menu.grid_12
              %ul
                - site.posts.each do |post|
                  %li{:class => "#{'current' if (page.title == post.title)}"}
                    %a{ :href => post.url}= post.title
            #header-page.grid_12
              #sides.grid_4.alpha
                %span
                  %strong 22 a 24 de abril de 2010
                  %p Centro de Convenções | Natal-RN   
              #logo.grid_4
                %img{ :src => "images/logo-orto.png", :alt => "XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia" }
              #sides.grid_4.omega
                %span#left        
                  Faltam
                  %strong 242 Dias
                  %p para o evento
        .content
          .container_12  
            - if layout_type == 'internal_page'
              #interna.grid_12
                = content
            - else
              #banner.grid_12
                %img{ :src => "images/banner.jpg", :alt => "XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia"}
              #content.grid_8
                = content
              #inscricoes.grid_4
                %a{ :href => "/inscricao"} 
                  %img{ :src => "images/inscricao.png", :alt => "XIV Congresso Norte-Nordeste de Ortopedia e Traumatologia"}
      .footer
        .container_12
          #sponsors 
            #promocao.grid_2.alpha
              %h6 PROMOÇÃO
              %a.notext{:href => "http://www.sbot.org.br", :target => "_blank" }
                %img{ :src => "images/patrocinio/sbot.png", :alt => "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT", :height => "63px"}
            #realizacao.grid_2
              %h6 REALIZAÇÃO
              %a.notext{ :href => "http://www.sbot.org.br", :target => "_blank" }
                %img{ :src => "images/patrocinio/sbotrn.png", :alt => "Sociedade Brasileira de Ortopedia e Traumatologia – SBOT/RN", :height => "63px"} 
            #apoio.prefix_1.grid_4
              %h6 APOIO
              %a.notext{ :href => "http://www.natal.rn.gov.br/", :target => "_blank" }
                %img{ :src => "images/patrocinio/prefeitura_natal.jpg", :alt => "Prefeitura do Natal"}
              %a.notext{ :href => "http://www.rn.gov.br/", :target => "_blank" }
                %img{ :src => "images/patrocinio/governo_rn.png", :alt => "Governo de Todos"}
            #organizacao.prefix_1.grid_2.omega
              %h6 ORGANIZAÇÃO
              %a.notext{ :href => "http://www.ideiaseventos.com.br/", :target => "_blank" }
                %img{ :src => "images/patrocinio/ideias_eventos.jpg", :alt => "Idéias Eventos", :height => "90px" }
